openapi: 3.2.0
info:
  title: AGENTUM — APIs Brasil Finance API
  version: 1.0.0
  description: 'APIs brasileiras pagas por chamada via x402 (USDC, Base mainnet): dado público agregado, pronto pra um agente de IA consumir numa chamada só.'
  x-guidance: 'Use POST /business-intelligence com {"cnpj": "<14 dígitos>"} pra receber cadastro, atividades, endereço e sinais objetivos de uma empresa brasileira consolidados numa resposta estruturada só. Use GET /verificar-cnpj?cnpj=<14 dígitos> pra checar situação cadastral, Simples Nacional e endereço de uma empresa brasileira antes de fechar negócio. Use GET /verificar-cep?cep=<8 dígitos> pra validar um endereço brasileiro antes de despachar algo. Use GET /taxas-brasil (sem parâmetro) pra taxas oficiais do Banco Central (Selic, CDI, dólar comercial) num JSON só. Todas exigem pagamento x402 em USDC na rede Base (eip155:8453).'
  contact:
    email: agentumcomercial@carmozinog.com
servers:
- url: https://agentum.lat
tags:
- name: Finance
paths:
  /taxas-brasil:
    get:
      operationId: taxasBrasil
      summary: Taxas oficiais do Brasil em tempo real (Selic, CDI, dólar comercial)
      tags:
      - Finance
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.010000'
        protocols:
        - x402: {}
      responses:
        '200':
          description: Taxas oficiais atualizadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  selic_meta_aa:
                    type: object
                    properties:
                      valor:
                        type: string
                      data:
                        type: string
                      unidade:
                        type: string
                  cdi_ad:
                    type: object
                    properties:
                      valor:
                        type: string
                      data:
                        type: string
                      unidade:
                        type: string
                  dolar_comercial_venda:
                    type: object
                    properties:
                      valor:
                        type: string
                      data:
                        type: string
                      unidade:
                        type: string
                  fonte:
                    type: string
              example:
                selic_meta_aa:
                  valor: '14.00'
                  data: 16/09/2026
                  unidade: '% ao ano'
                cdi_ad:
                  valor: '0.051660'
                  data: 03/09/2026
                  unidade: '% ao dia'
                dolar_comercial_venda:
                  valor: '5.1253'
                  data: 04/09/2026
                  unidade: BRL por USD
                fonte: Banco Central do Brasil (SGS)
        '402':
          description: Payment Required
