openapi: 3.2.0
info:
  title: AGENTUM — APIs Brasil Verification API
  version: 1.0.0
  description: 'APIs brasileiras pagas por chamada via x402 (USDC, Base mainnet): dado público agregado, pronto pra um agente de IA consumir numa chamada só.'
  x-guidance: 'Use POST /business-intelligence com {"cnpj": "<14 dígitos>"} pra receber cadastro, atividades, endereço e sinais objetivos de uma empresa brasileira consolidados numa resposta estruturada só. Use GET /verificar-cnpj?cnpj=<14 dígitos> pra checar situação cadastral, Simples Nacional e endereço de uma empresa brasileira antes de fechar negócio. Use GET /verificar-cep?cep=<8 dígitos> pra validar um endereço brasileiro antes de despachar algo. Use GET /taxas-brasil (sem parâmetro) pra taxas oficiais do Banco Central (Selic, CDI, dólar comercial) num JSON só. Todas exigem pagamento x402 em USDC na rede Base (eip155:8453).'
  contact:
    email: agentumcomercial@carmozinog.com
servers:
- url: https://agentum.lat
tags:
- name: Verification
paths:
  /verificar-cnpj:
    get:
      operationId: verificarCnpj
      summary: Verificação de CNPJ brasileiro em tempo real
      tags:
      - Verification
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.020000'
        protocols:
        - x402: {}
      parameters:
      - name: cnpj
        in: query
        required: true
        schema:
          type: string
          description: CNPJ brasileiro, 14 dígitos, apenas números
        example: '68964713000109'
      responses:
        '200':
          description: Situação cadastral, Simples Nacional e endereço da empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  cnpj:
                    type: string
                  razao_social:
                    type: string
                  situacao:
                    type: string
                  data_situacao:
                    type: string
                  abertura:
                    type: string
                  natureza_juridica:
                    type: string
                  uf:
                    type: string
                  municipio:
                    type: string
                  atividade_principal:
                    type: string
                  fonte:
                    type: string
              example:
                cnpj: 68.964.713/0001-09
                razao_social: AGENTUM LTDA
                situacao: ATIVA
                data_situacao: 03/09/2026
                abertura: 03/09/2026
                natureza_juridica: 206-2 - Sociedade Empresária Limitada
                uf: SP
                municipio: SERTAOZINHO
                atividade_principal: Desenvolvimento e licenciamento de programas de computador customizáveis
                fonte: receitaws
        '402':
          description: Payment Required
  /verificar-cep:
    get:
      operationId: verificarCep
      summary: Validação de endereço/CEP brasileiro em tempo real
      tags:
      - Verification
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.010000'
        protocols:
        - x402: {}
      parameters:
      - name: cep
        in: query
        required: true
        schema:
          type: string
          description: CEP brasileiro, 8 dígitos, apenas números
        example: '01310100'
      responses:
        '200':
          description: Endereço completo
          content:
            application/json:
              schema:
                type: object
                properties:
                  cep:
                    type: string
                  logradouro:
                    type: string
                  bairro:
                    type: string
                  municipio:
                    type: string
                  uf:
                    type: string
                  regiao:
                    type: string
                  ddd:
                    type: string
                  fonte:
                    type: string
              example:
                cep: 01310-100
                logradouro: Avenida Paulista
                bairro: Bela Vista
                municipio: São Paulo
                uf: SP
                regiao: Sudeste
                ddd: '11'
                fonte: viacep
        '402':
          description: Payment Required
